<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Leaf-Now|Donate</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Leaf-Now|Donate</title>
  <style media="screen">
   
    .footer{
      position: fixed;
    }
  </style>
</head>
  
<body style="background-color: black;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}


  <br><br><br>
<h3 style=" margin-top:2px; text-align:center; color: white;">Donate Here!!</h3>
<div style="color:white; border: double">
<div class="container py-4 ">
  <form method="post" action="/send-feedback">
      {% csrf_token %}
  <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name"  name="name" placeholder="enter name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email"  name="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input type="phone" class="form-control" name="phone" id="phone" placeholder="enter your number">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Contribution</label>
      <textarea class="form-control" id="desc" name="desc" rows="1"></textarea>
    </div>



    <button class="btn btn-primary" type="submit">Donate</button>
    
  </form>
  </div>
</div>













<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" 
  integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>
